body {
  font-family: "Oswald", sans-serif;
  background-color: #f0b777;
}

main {
  background-color: #f0b777;
}

section {
  padding-bottom: 2rem;
}

.navbar {
  background-color: #b36813;
}

.navbar .nav-link .nav-item {
  color: #ffffff;
}

.card {
  border: none !important;
}
