body {
    font-family: 'Oswald', sans-serif;
    background-color: #F0B777;
}

main {
    background-color: #F0B777;
}

section {
    padding-bottom: 2rem;
}

.navbar {
    background-color: #B36813;
}

.navbar .nav-link .nav-item {
    color: #ffffff;
}