@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rock+Salt&display=swap');


h1, h2, h3, h4 {
    font-family: 'Rock Salt', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
}

.nav img {
    max-width: 75px;
}

#logo a {
    text-decoration: none;
}