@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rock+Salt&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Rock Salt", cursive;
}

p {
  font-family: "Oswald", sans-serif;
}

.nav img {
  max-width: 75px;
}

footer {
  background-color: #7d3d1a;
}

footer p {
  margin: 0;
}

footer li {
  font-size: 12px;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: #eaa250;
}

.col-sm-4 a {
  color: inherit;
}

.card-img-overlay h3 {
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}

.divider {
  margin-left: 2em;
  border-left: 2px solid #ffffff;
}

#logo a {
  text-decoration: none;
}

#attribute-card {
  background-color: #eaa250;
  box-shadow: #7D3D1A -10px 10px;
  min-width: 250px;
}

#attribute-card p {
    font-size: 5em;
}

#attribute-row {
  height: 100%;
}

#course {
  padding-top: 1em;
  font-size: 10px;
}